<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.hismart.pay"
    version="1.0">

    <name>PAY Player</name>
    <description>Hismart PAY Plugin</description>
    <license>pearl</license>
    <keywords>hismart_pay</keywords>
    <repo>https://github.com/pearl-wu/hismartpayDemo.git</repo>
    <issue>https://github.com/pearl-wu/hismartpayDemo.git</issue>

    <js-module src="www/hismartpay.js" name="hismartpay">
        <clobbers target="hismartpay" />
    </js-module>
	
    <platform name="android">
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.INTERNET" />
    		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		<!-- 判断网络状态 -->
		<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
		<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
		<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
		<uses-permission android:name="android.permission.GET_TASKS" />
		<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.VIBRATE" />
		<uses-permission android:name="android.permission.SEND_SMS" />
		<uses-permission android:name="android.permission.READ_SMS" />
		<uses-permission android:name="android.permission.WRITE_SMS" />
		<uses-permission android:name="android.permission.RECEIVE_SMS" />
		<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
		<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
	</config-file>
    	
        <config-file target="res/xml/config.xml" parent="/*">
           <feature name="hiOrder">
                <param name="android-package" value="com.hismart.pay.MainActivity"/>
            </feature>
        </config-file>
        
        <source-file src="libs/android-support-v13.jar" target-dir="libs" />
        <source-file src="libs/alipaysdk.jar" target-dir="libs" />
        <source-file src="libs/alipaysecsdk.jar" target-dir="libs" />
        <source-file src="libs/alipayutdid.jar" target-dir="libs" />
        <source-file src="libs/HiPaySDK1.00.0.0.0.jar" target-dir="libs" />
        <source-file src="libs/hiphonepayment_release.jar" target-dir="libs" />
        <source-file src="libs/HiSDK1.04.39.0.0.jar" target-dir="libs" />
        <source-file src="libs/libammsdk.jar" target-dir="libs" />
        <source-file src="libs/Upay_Sdk_2.0.jar" target-dir="libs" />
        <source-file src="libs/zxing.jar" target-dir="libs" />
	<source-file src="src/com/hismart/pay/MainActivity.java" target-dir="src/com/hismart/pay/" />
    </platform>

</plugin>
